@{
    ViewBag.Title = "Home Page";
   
}

<div class="jumbotron">
    <center>
        <h1>AUCTION STARTS HERE!</h1>
    </center>
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            <p>
                Welcome to the best site for selling your products!
            </p>
        </center>
    </div>
</div>
